* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("/images/background.png");
}

/*Авторизация и регистрация*/
#fon{
    margin-top: 290px;
    padding-top: 150px;
    padding-bottom: 250px;
    height: 100%;
    width: 100%;
}
.body_slides{
    list-style:none;
    margin:0;
    padding:0;
    z-index:-2;
    background: #D5F9EB;}
.body_slides,
.body_slides:after{
    position: fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;}
.body_slides:after {
    content: '';
    background: transparent url(images/pattern.png) repeat top left;}


.body_slides li{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-size:cover;
    background-repeat:none;
    opacity:0;
    -webkit-animation: anim_slides 24s linear infinite 0s;
    -moz-animation: anim_slides 24s linear infinite 0s;
    -o-animation: anim_slides 24s linear infinite 0s;
    -ms-animation: anim_slides 24s linear infinite 0s;
    animation: anim_slides 24s linear infinite 0s;
}
.body_slides li:nth-child(1){
    background-image: url(https://avatars.mds.yandex.net/get-altay/1868686/2a0000016bd072e366c5ddfcccf4c5155af6/XXXL)
}
.body_slides li:nth-child(2){
    -webkit-animation-delay: 6.0s;
    -moz-animation-delay: 6.0s;
    background-image: url(https://manwoman.by/wp-content/uploads/2019/03/koton-outleto_3.jpg)
}
.body_slides li:nth-child(3){
    -webkit-animation-delay: 12.0s;
    -moz-animation-delay: 12.0s;
    background-image: url(https://www.mekatasarim.com/wp-content/uploads/2015/08/Erkek-Giyim-28.jpg)
}
.body_slides li:nth-child(4){
    -webkit-animation-delay: 18.0s;
    -moz-animation-delay: 18.0s;
    background-image: url(https://files.geometria.ru/pics/original/070/688/70688625.jpg)
}
@-webkit-keyframes anim_slides {
    0% {opacity:0;}
    6% {opacity:1;}
    24% {opacity:1;}
    30% {opacity:0;}
    100% {opacity:0;}
}
@-moz-keyframes anim_slides {
    0% {opacity:0;}
    6% {opacity:1;}
    24% {opacity:1;}
    30% {opacity:0;}
    100% {opacity:0;}
}
@keyframes show{
    20%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
#s
#login {
    background-color: rgba(255, 255, 255, 0.49);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.49)), to(#eee));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.49), #eee);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.49), #eee);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.49), #eee);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.49), #eee);
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.49), #eee);
    height: 250px;
    width: 300px;
    position: relative;
    padding: 30px;
    float: right;
    right: 50%;
    z-index: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show 1s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0s; /* Задержка перед началом */
}

#login:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 2px dashed #0CA96A;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.49);
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.49);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.49);
}
#vopros {
    background-color: rgba(255, 255, 255, 0.49);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.49)), to(#eee));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.49), #eee);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.49), #eee);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.49), #eee);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.49), #eee);
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.49), #eee);
    position: relative;
    padding: 100px;
    left: 50%;
    float: left;
    z-index: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show 2s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0s; /* Задержка перед началом */
}

#vopros:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 2px dashed #0CA96A;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.49);
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.49);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.49);
}

#pass_recovery {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);
    height: 250px;
    width: 400px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 33%;
    z-index: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, .2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 0 rgba(0, 0, 0, .1), 3px 3px 0 rgba(255, 255, 255, 1), 4px 4px 0 rgba(0, 0, 0, .1), 6px 6px 0 rgba(255, 255, 255, 1), 7px 7px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, .2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, .2);
}

#pass_recovery:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}

#reg {
    background-color: rgba(255, 255, 255, 0.49);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.49)), to(#eee));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.49), #eee);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.49), #eee);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.49), #eee);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.49), #eee);
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.49), #eee);
    width: 400px;
    margin-bottom: 20px;
    position: absolute;
    padding: 30px;
    top: 40%;
    left: 38%;
    z-index: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, .2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 0 rgba(0, 0, 0, .1), 3px 3px 0 rgba(255, 255, 255, 1), 4px 4px 0 rgba(0, 0, 0, .1), 6px 6px 0 rgba(255, 255, 255, 1), 7px 7px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, .2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, .2);
}

input #password::before {
    content: "#";
    display: block;
    width: 16px;
}

#reg:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 2px dashed #0CA96A;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.49);
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.49);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.49);
}


/*--------------------*/

h1 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}


/*--------------------*/

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}


/*--------------------*/

#inputs input {
    background: #FFE9D9 url(http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png) no-repeat;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 253px;
    /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #FFE9D9 inset, 0 1px 0 #D5F9EB;
    -webkit-box-shadow: 0 1px 1px #FFE9D9 inset, 0 1px 0 #D5F9EB;
    box-shadow: 0 1px 1px #FFE9D9 inset, 0 1px 0 #D5F9EB;
}
#inputs_reg input {
    background: #FFE9D9 url(http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png) no-repeat;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 353px;
    /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #FFE9D9 inset, 0 1px 0 #D5F9EB;
    -webkit-box-shadow: 0 1px 1px #FFE9D9 inset, 0 1px 0 #D5F9EB;
    box-shadow: 0 1px 1px #FFE9D9 inset, 0 1px 0 #D5F9EB;
}

#username {
    background-position: 5px -2px !important;
}

#password {
    background-position: 5px -52px !important;
}

#inputs input:focus {
    background-color: #D5F9EB;
    border-color: rgba(255, 255, 255, 0.3);
    outline: none;
    -moz-box-shadow: 0 0 0 1px #7EF9C8 inset;
    -webkit-box-shadow: 0 0 0 1px #7EF9C8 inset;
    box-shadow: 0 0 0 1px #7EF9C8 inset;
}
#inputs_reg input:focus {
    background-color: #D5F9EB;
    border-color: rgba(255, 255, 255, 0.3);
    outline: none;
    -moz-box-shadow: 0 0 0 1px #7EF9C8 inset;
    -webkit-box-shadow: 0 0 0 1px #7EF9C8 inset;
    box-shadow: 0 0 0 1px #7EF9C8 inset;
}


/*--------------------*/


#actions a {
    color: #dc7228;
    line-height: 35px;
}

#actions a:hover {
    color: #1B9564;
}

#submit {
    background-color: #0CA96A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7EF9C8), to(#D5F9EB));
    background-image: -webkit-linear-gradient(top, #7EF9C8, #D5F9EB);
    background-image: -moz-linear-gradient(top, #7EF9C8, #D5F9EB);
    background-image: -ms-linear-gradient(top, #7EF9C8, #D5F9EB);
    background-image: -o-linear-gradient(top, #7EF9C8, #D5F9EB);
    background-image: linear-gradient(top, #7EF9C8, #D5F9EB);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border-width: 1px;
    border-style: solid;
    border-color: #0CA96A;
    float: left;
    height: 35px;
    padding: 0;
    width: 120px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #0CA96A;
}

#submit-reg {
    background-color: #0CA96A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7EF9C8), to(#D5F9EB));
    background-image: -webkit-linear-gradient(top, #7EF9C8, #D5F9EB);
    background-image: -moz-linear-gradient(top, #7EF9C8, #D5F9EB);
    background-image: -ms-linear-gradient(top, #7EF9C8, #D5F9EB);
    background-image: -o-linear-gradient(top, #7EF9C8, #D5F9EB);
    background-image: linear-gradient(top, #7EF9C8, #D5F9EB);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border-width: 1px;
    border-style: solid;
    border-color: #0CA96A;
    float: left;
    height: 35px;
    padding: 0;
    width: 180px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #0CA96A;
}

#submit-newpassword {
    background-color: #0CA96A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7EF9C8), to(#D5F9EB));
    background-image: -webkit-linear-gradient(top, #7EF9C8, #D5F9EB);
    background-image: -moz-linear-gradient(top, #7EF9C8, #D5F9EB);
    background-image: -ms-linear-gradient(top, #7EF9C8, #D5F9EB);
    background-image: -o-linear-gradient(top, #7EF9C8, #D5F9EB);
    background-image: linear-gradient(top, #7EF9C8, #D5F9EB);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border-width: 1px;
    border-style: solid;
    border-color: #0CA96A;
    float: left;
    height: 35px;
    padding: 0;
    width: 160px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #0CA96A;
}

#submit:hover, #submit:focus {
    background-color: #7EF9C8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D5F9EB), to(#7EF9C8));
    background-image: -webkit-linear-gradient(top, #D5F9EB, #7EF9C8);
    background-image: -moz-linear-gradient(top, #D5F9EB, #7EF9C8);
    background-image: -ms-linear-gradient(top, #D5F9EB, #7EF9C8);
    background-image: -o-linear-gradient(top, #D5F9EB, #7EF9C8);
    background-image: linear-gradient(top, #D5F9EB, #7EF9C8);
}

#submit:active {
    outline: none;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#submit::-moz-focus-inner {
    border: none;
}

/*Конец авторизации и регистрации*/