* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("/images/background.png");
}

/*Корзина*/
#content-cart{
    position: absolute;
    width: 970px;
    height: auto;
    margin: 38px auto;
    padding: 25px;
    background: white;
    z-index: 0;
    border-radius: 6px;
    top: 40%;
    left: 25%;
}
#content-cart:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 2px dashed #0CA96A;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}

#block-step {
    height: 70px;
}

#block-step>p {
    font: 19px sans-serif;
    color: #646464;
    margin-top: 8px;
    margin-left: 15px;
    position: absolute;
}

#block-step>a {
    position: absolute;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
    margin-bottom: 50px;
    margin-left: 60%;
}

#name-step {
    height: 30px;
}

#name-step li {
    float: left;
    list-style: none;
    margin-left: 10px;
    margin-top: 10px;
}

#name-step a {
    color: #16a085;
    font: bold 16px sans-serif;
    text-decoration: none;
}

#name-step a#active-li {
    color: #F97212;
}

#header-list-cart {
    height: 30px;
    border-bottom: 1px solid #F97212;
}

#header-list-cart>div {
    float: left;
    text-align: center;
    margin-top: 7px;
}

#head1 {
    width: 130px;
}

#head2 {
    width: 450px;
}

#head3 {
    width: 55px;
}

#head4 {
    width: 225px;
}

#block-list-cart {
    height: 125px;
    margin-top: 10px;
    border-bottom: 1px solid #F97212;
    width: 960px;
}

#block-list-cart>div {
    float: left;
    margin-left: 5px;
}

.img-cart {
    width: 130px;
    height: 116px;
    padding-top: 10px;
    border-right: 1px solid #DBDBDB;
}

#title-cart {
    width: 400px;
    height: 94px;
    padding-top: 32px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #DBDBDB;
    text-align: center;
}

#count-cart {
    width: 110px;
    height: 110px;
    padding-top: 15px;
    border-right: 1px solid #DBDBDB;
}

#price-product {
    width: 140px;
    height: 125px;
    text-align: center;
    border-right: 1px solid #DBDBDB;
}

.span-count {
    margin-left: 20px;
}

#p-price {
    padding-left: 20px;
}

#delete-cart {
    height: 125px;
    padding-left: 50px;
}

#title-cart>p {
    margin-top: 15px;
}

#title-cart>p>a {
    font: 15px sans-serif;
}

#input-count-style {
    margin-top: 31px;
}

#input-count-style input {
    text-align: center;
    border: 1px solid black;
    width: 32px;
    height: 22px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#input-count-style p {
    cursor: pointer;
    font: 15px sans-serif;
    margin: 1px;
}

#price-product p {
    margin-left: 15px;
    margin-top: 65px;
}

#price-product h5 {
    position: absolute;
    margin-top: 42px;
    margin-left: 15px;
}

#delete-cart img {
    margin-top: 50px;
}

#clear-cart {
    margin-left: 400px;
}

#confirm-button-next {
    display: inline-block;
    color: #0CA96A;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #D5F9EB;
    border-radius: 6px;
    background: linear-gradient(#D5F9EB, #7EF9C8);
    transition: 0.2s;
    margin-bottom: 10px;
    margin-left: 85%;
}

#button-next {
    display: inline-block;
    color: #0CA96A;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #D5F9EB;
    border-radius: 6px;
    background: linear-gradient(#D5F9EB, #7EF9C8);
    transition: 0.2s;
    margin-bottom: 10px;
    margin-left: 85%;
}

.input-count {
    margin: 8px 10px 22px 8px;
    width: 40px;
    height: 20px;
    padding-left: 7px;
    background: #E2DCDE;
    border: 1px solid black;
}


/*#info-radio > li > input{
  	margin-top: 7px;
  	margin-right: 7px;
  }*/

#info-order {
    margin-top: 25px;
}

#info-order>li {
    margin-top: 10px;
}

#info-order>li>input {
    height: 30px;
    width: 345px;
    margin-left: 80px;
    border: 1px solid #DDDDDD;
}

#info-order>li>input:focus, #info-order>li>textarea:focus {
    border: 1px solid #C4E1EB;
}

#info-order>li>label.order_span_style {
    margin-top: 0px;
}

#info-order>li>span {
    color: #A7A7A7;
    margin-left: 15px;
    margin-top: 5px;
    position: absolute;
}

#info-order>li>span.order_span_style {
    margin-top: 7px;
}


/*Конец корзины*/

#content_center{
    width: 960px;
    margin: 0 auto;
}

