/*Шапка сайта*/
/*---start-header----*/
.header{
    background: #FFFFFF;
    padding-top: 1.5em;
    border-bottom: 1px solid rgba(214, 213, 212, 0.64);
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 999;
}
#fon-header{
    background: #FFE9D9;
}
.col-25{
    margin-right: 30px;
    float: right;
}
.col-30{
    margin-left: 10px;
    float: left;
}

.col-50{
    margin-left: 10%;
    width: 50%;
    float: left;
}


.menu{
    top: 5px;
    width: 100%;
    float: left;
}


.nav-icon{
    float: left;
    margin: 0.6% 2% 0 8%;
    width: 4.55%;
}
.nav-icon a span{
    margin-top: 20px;
    width:48px;
    height:34px;
    display:block;
    background:url(../images/nav-icon.png) no-repeat 0px 0px;
}
.top-searchbar {
    float: left;
    width: 90%;
    position: relative;
    margin: 2em;
}
.top-searchbar input[type="text"]{
    margin-top: 0.55em;
    width: 100%;
    padding: 0.58em 1em;
    border: 1px solid #FFE9D9;
    transition: border-color 0.3s all;
    -webkit-transition: border-color 0.3s all;
    -moz-transition: border-color 0.3s all;
    -o-transition: border-color 0.3s all;
    outline: none;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -webkit-appearance: none;
    font-family: 'Open Sans', sans-serif;
    color:#777;
}
.top-searchbar input[type="text"]{
    background:#D5FAEB;
}
.top-searchbar input[type="text"]:hover{
    border:1px solid #FFA681;
}
.top-searchbar input[type="submit"]{
    position: absolute;
    background-size:cover;
    background-image: url(http://cdn.onlinewebfonts.com/svg/img_467459.png);
    height: 26px;
    width: 26px;
    display: inline-block;
    border: none;
    top: 12px;
    right: -22px;
    outline:none;
    cursor:pointer;
}
.box{
    position:absolute;
    top:-700px;
    width:100%;
    color:#7F7F7F;
    margin-top:270px;
    padding:0px;
    z-index:999999;
    text-align:center;
    left:0px;
}
.box_content_center{
    background: rgba(250, 239, 238, 0.74);
}
a.boxclose{
    cursor: pointer;
    text-align: center;
    display: block;
    position: absolute;
    top: 1.9em;
    right: 15em;
}

#activator {
}

.menu_box_list{
    display:inline-block;
    padding: 2.1em 0;
}
.menu_box_list ul li {
    display: inline-block;
}
.menu_box_list li a{
    display: block;
    color: black;
    font-size: 0.875em;
    margin: 0.44em 2em;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.menu_box_list li a:hover{
    color:#1B9564;
}
.menu_box_list li a > i > img{
    vertical-align:middle;
    padding-right:10px;
}

.boxclose span{
    width:35px;
    height:35px;
    display:inline-block;
    background:url(../images/close2.png) no-repeat 0px 0px;
}
.boxclose span:hover{
    background:url(../images/close2h.png) no-repeat 0px 0px;
}

li {
    list-style-type: none;
}


nav {
    border-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFB581), to(#F97212));
}
#indent_li{
    margin-right: 10%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 10%;
    line-height: 70px;
    transition: .5s linear;
}

nav a {
    text-decoration: none;
    display: block;
    position: relative;
    font-family: Cart;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
}

nav a:after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 15px;
    background: #FFD23F;
    transition: width .5s linear;
}

nav a:hover:after {
    width: 100%;
}

/*Профиль*/

#reg_avtor {
    display: block;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    /*position: relative;*/
}

#avatar {
    display: flex;
    margin: -50px 0 0 -40px;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

#avatar::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    background: url("/images/User-32.png") no-repeat;
}

#profile_info {
    margin-top: 25px;
    margin-left: 20px;
}

#profile_info li {
    margin-top: 10px;
}

#profile_info input {
    height: 30px;
    width: 350px;
    font: 17px sans-serif;
    margin-left: 200px;
    padding-left: 5px;
}

#profile_info textarea {
    height: 110px;
    width: 350px;
    font: 17px sans-serif;
    margin-left: 200px;
    padding-left: 5px;
}

#profile_info label {
    font: 16px sans-serif;
    color: #464648;
    font-weight: bold;
    position: absolute;
    margin-top: 7px;
}

#profile_info h3{
    text-align: center;
}

#save_setting{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
    margin-bottom: 20px;
    margin-left: 80%;
}

#main-menu {
    color: ;
    text-decoration: underline;
    cursor: pointer;
}

#main-menu ul a {
    text-decoration: none;
}

#sub-menu {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    width: 200px;
    height: 80px;
    text-align: center;
    background-color: white;
    padding-top: 5px;
    display: none;
    box-shadow: 0 0 20px rgba(244, 224, 72, 0.5);
}

#sub-menu li {
    margin: 3px 0 0 10px;
}

#sub-menu li a {
    color: black;
}

#sub-menu li a:hover {
    color: #042A2B;
}

#data_profile{
    display: block;
    width: 960px;
    margin: 38px auto;
    background: white;
    border: 2px solid black;
    border-radius: 16px;
}

#data_profile label{
    position: absolute;
    font: 18px sans-serif;
    font-weight: bold;
    margin-left: 15px;

}

#data_profile p{
    margin-top: 5px;
    padding-top: 2px;
    margin-left: 110px;
    margin-bottom: 15px;
    vertical-align: middle;
    font: 16px sans-serif;
}

/*Конец профиля*/

#turquoise {
    margin-right: 10px;
    width: 100px;
    height: 20px;
    background: #1abc9c;
    border-bottom: #16a085 3px solid;
    border-left: #16a085 1px solid;
    border-right: #16a085 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: 800;
}

#turquoisereg {
    position: relative;
    top: 25px;
    width: 100px;
    height: 20px;
    background: #1abc9c;
    border-bottom: #16a085 3px solid;
    border-left: #16a085 1px solid;
    border-right: #16a085 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: 800;
}

a {
    text-decoration: none;
}

#turquoise:hover {
    opacity: 0.8;
}

#turquoisereg:hover {
    opacity: 0.8;
}
#size_products{
    margin-left: 30%;
    justify-content: center;
}
#block-basket {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 300px;
    background: #D4F9F4;
    margin: 0px 0px 0px 50px;
    padding-top: 15px;
    border-radius: 8px;
}
#logo {
    width: 79px;
    height: 79px;
    margin: 10px 0px 0px 120px;
    position: absolute;
}

#logo-name {
    margin-left: 20px;
    padding-top: 100px;
    font-family: Lobster;
    font-size: 40px;
}

/*Конец шапки*/