* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("/images/background.png");
}

/*content index.php*/

#content_header_center {
    width: auto;
    margin-top: 370px;
    margin-left: 12%;
}
.product_section{
    margin-top: 15px;
    margin-bottom: 15px;
    background: #FFE9D9;
    border: 2px inset black;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
#name_product{
    color: #F95712;
    text-align: center;
    padding-top: 16%;
    width: 150px;
    float: left;
    font-family: KelsonBold;
    font-size: 25px;
}
#href_product{
    float: right;
    padding-top: 16%;
    padding-bottom: 16%;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 2px inset black;
    border-bottom: 1px inset black;
    background: #FFFFFF;
    border-radius: 0px 15px 15px 0px;
    font-family: KelsonBold;
    font-size: 25px;
}
#input__tovar{
    width: 1000px;
    margin-left: 250px;
}

#label {
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 13px;
    flex-wrap: wrap;
    background: #ffffff;
    width: 215px;
    border: 2px inset black;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

#label:nth-child(n+1){
    float: left;
    /*width: 40%;*/
}


#picture {
    text-align: center;
    height: 200px;
    width: 200px;
    margin: 9px auto;
}
#img{
    height: 200px;
}

#title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
    text-align: center;
    font-family: KelsonRegular;
    font-size: 18px;
    color: #3164f8;
}

#size{
    margin-left: 5px;
    text-align: center;
}


#product-price {
    justify-content: center;
    margin-top: 10px;
    font-family: KelsonBold;
    font-size: 20px;
}
@keyframes show{
    20%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
#section1{
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show 1s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0s; /* Задержка перед началом */
}
#section2{
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show 1.5s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0s; /* Задержка перед началом */
}
#section3{
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show 2s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0s; /* Задержка перед началом */
}
#delivary {
    padding-left: 10px;
    float: right;
}

.input-count {
    margin: 8px 10px 22px 8px;
    width: 40px;
    height: 20px;
    padding-left: 7px;
    background: #E2DCDE;
    border: 1px solid black;
}

.add-cart-style-list {
    width: 32px;
    height: 32px;
    display: block;
    cursor: pointer;
    margin-left: 5px;
    background: url("/images/Add Shopping Cart_32.png");
}

content {
    width: 960px;
    background: #FFF;
    border: 2px inset black;
    border-radius: 20px;
    margin: 38px auto 210px;
    margin-left: 210px;
}

#content-center {
    width: 960px;
    margin: 38px auto;
}


/*Контент страницы*/

/*Блок сортировки*/

#block_sorting {
    display: flex;
    flex-direction: row;
    width: 960px;
    margin: 0 auto;
}

#sort {
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 10px;
}

#sort>li {
    padding-left: 10px;
    align-items: center;
}

#select_sort {
    color: #1098F7;
    display: flex;
    flex-direction: row;
    text-decoration: inherit;
    cursor: pointer;
    font: 16px sans-serif;
}

#vid_sort {
    font: 18px sans-serif;
}

#sorting_list {
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    width: 200px;
    height: 108px;
    background-color: white;
    padding-top: 5px;
    display: none;
    box-shadow: 0 0 20px rgba(244, 224, 72, 0.5);
}

#sorting_list li {
    margin: 5px 0 0 10px;
}


/*Блок товаров в админке*/

#block-tovar {
    margin-top: 10px;
}

#block-tovar li {
    height: 200px;
    width: 230px;
    float: left;
    margin-left: 10px;
}

#block-tovar p {
    margin-top: 10px;
    text-align: center;
}

.delete {
    font: bold 13px sans-serif;
    color: #D6533C;
    cursor: pointer;
    text-decoration: underline;
}

.green {
    font: bold 13px sans-serif;
    color: green;
}

.pstrnav {
    height: 40px;
    width: auto;
    */ margin-top: 30px;
    margin-bottom: 20px;
    display: inline-block;
}

.pstrnav li {
    float: left;
    margin-top: 10px;
}

.pstrnav a {
    font: 22px sans-serif;
    text-decoration: none;
    color: black;
    display: inline-flex;
    padding-left: 4px;
    padding-right: 4px
}

.pstrnav a:hover {
    color: #E26029;
}

a.pstr-prev:hover, a.pstr-next:hover {
    text-decoration: none;
}

.pstrnav a.pstr-active {
    color: #D95D27;
    font-weight: bold;
}

#pstrnav {
    height: 40px;
    width: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    display: inline-block;
}

#pstrnav li {
    float: left;
    margin-top: 10px;
}

#pstrnav a {
    font: 22px sans-serif;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px
}

#pstrnav a:hover {
    color: #E26029;
}

a.pstr-prev:hover, a.pstr-next:hover {
    text-decoration: none;
}

#pstrnav a.pstr-active {
    color: #D95D27;
    font-weight: bold;
}

#footerfix {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    clear: both;
}


/*Конец блока товаров в админке*/