* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("/images/background.png");
}
#content_header_center {
    text-align: center;
    border-radius: 16px;
    background: #FFA681;
    width: 960px;
    margin-top: 370px;
    margin-left: 26%;
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show 3s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0s; /* Задержка перед началом */
}

#content_center{
    border-radius: 16px;
    background: #FFA681;
    width: 960px;
    height: 550px;
    margin: 290px auto;
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show 3s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0s; /* Задержка перед началом */
}
@keyframes show{
    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

/*--------Оплата и доставка-------*/
#title_oplata{
    text-align: center;
    font-size: 48px;
    color: #1B9564;
}

#oplata{
    margin-top: 73px;
    font-size: 35px;
    font-family: KelsonBold;
}

#payment_methods{
    margin-top: 28px;
    font-family: KelsonRegular;
}

#oplata_dostavka li:first-child{
    margin-top: 33px;
}

#oplata_dostavka li{
    font-family: KelsonRegular;
    font-size: 15px;
    margin-left: 22px;
}

#dostavka{
    margin-top: 73px;
    font-size: 35px;
    font-family: KelsonBold;
}

ol > li{
    font-size: 20px;
    font-family:  MyriadPro-Regular;
    margin-top: 40px;
}

#time_dostavka{
    margin-top: 20px;
    font-family: MyriadPro-Regular;
    font-size: 20px;
}

td{
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
}

#PointsOfIssue{
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    margin-top: 50px;
}
#maps{
    position: absolute;
    margin-left: 300px;
    margin-top: -300px;
}
#address-block{
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 50px;
    margin: 20px 0 10px 0;
    padding: 10px 2px 10px 2px;
    border-top: 1px solid black;
}


/*--------------------------------*/

h1 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}


/*--------------------*/

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}


/*--------------------*/

#inputs input {
    background: #f1f1f1 url(http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png) no-repeat;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 353px;
    /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

#username {
    background-position: 5px -2px !important;
}

#password {
    background-position: 5px -52px !important;
}

#inputs input:focus {
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}