* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("/images/background.png");
}


/*Шапка сайта*/

#header {
    width: 960px;
    height: 190px;
    margin: 0 auto;
    display: flex;
}

#logo {
    width: 79px;
    height: 79px;
    margin: 30px 0 0 69px;
    position: absolute;
}

#logo-name {
    margin-left: 20px;
    padding-top: 100px;
    font-family: Lobster;
    font-size: 45px;
}

#social-link {
    margin: 20px 10px 10px 40px;
}

#ok {
    background: url("/images/odnoklassniki-logo.png");
    height: 32px;
    width: 32px;
    margin-top: 10px;
}

#msgerror {
    font: 14px sans-serif;
    color: red;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 30px;
    background-color: #FDE5E0;
    border: 1px solid #FDCDC3;
    margin-top: 0;
}

#vk {
    background: url("/images/vk.png");
    height: 32px;
    width: 32px;
    margin-top: 10px;
}

#facebook {
    background: url("/images/facebook.png");
    height: 32px;
    width: 32px;
    margin-top: 10px;
}

li {
    list-style-type: none;
}

#block-basket {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70px;
    width: 300px;
    background: #B9D6F2;
    margin: 50px 0px 0px 50px;
    padding-top: 15px;
    border: 5px double rgb(72, 39, 40);
    border-radius: 8px;
}

#tovar1 {
    display: inline-flex;
    flex-direction: row;
    padding: 10px;
    font-family: Cartfonts;
    font-weight: bold;
    font-size: 15px;
}

#nav-bar {
    display: flex;
    justify-content: center;
    width: 960px;
    margin: 0px auto 25px auto;
    height: 44px;
    background: #ffffff;
    border-radius: 15px;
}

nav {
    overflow: hidden;
    display: flex;
    width: 960px;
    margin: 0 auto;
    justify-content: center;
    border: 2px inset black;
    background-color: white;
    border-radius: 45px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

nav li {
    display: inline-block;
    margin-left: 25px;
    height: 70px;
    line-height: 70px;
    transition: .5s linear;
}

nav a {
    text-decoration: none;
    display: block;
    position: relative;
    font-family: Cart;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
}

nav a:after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 15px;
    background: #FFD23F;
    transition: width .5s linear;
}

nav a:hover:after {
    width: 100%;
}


/*Конец шапки*/


/*content index.php*/



#content_header_center {
    width: 960px;
    margin: 38px auto;
    /*background: white;*/
    /*border: 2px solid black;
    border-radius: 18px;*/
}

#input__tovar{
width: 700px;
margin-left: 250px;
}

#label {
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 13px;
    flex-wrap: wrap;
    background: #ffffff;
    height: 360px;
    width: 215px;
    border: 2px inset black;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

#label:nth-child(n+1){
 float: left;
 /*width: 40%;*/
}


#picture {
    margin: 9px auto;
}

#title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
    text-align: center;
    font-family: KelsonRegular;
    font-size: 18px;
    color: #3164f8;
}

#size{
 margin-left: 5px;
 text-align: center;
}


#product-price {
    margin-left: 70px;
    margin-top: 10px;
    font-family: KelsonBold;
    font-size: 25px;
}

#delivary {
    padding-left: 10px;
}

.input-count {
    margin: 8px 10px 22px 8px;
    width: 40px;
    height: 20px;
    padding-left: 7px;
    background: #E2DCDE;
    border: 1px solid black;
}

.add-cart-style-list {
    width: 32px;
    height: 32px;
    display: block;
    cursor: pointer;
    margin-left: 90px;
    background: url("/images/Add Shopping Cart_32.png");
}

content {
    width: 960px;
    background: #FFF;
    border: 2px inset black;
    border-radius: 20px;
    margin: 38px auto 210px;
    margin-left: 210px;
}

#content-center {
    width: 960px;
    margin: 38px auto;
}


/*Контент страницы*/


/*Корзина*/
#content-cart{
 width: 970px;
 margin: 38px auto;
 height: auto;
 background: white;
 border: 2px solid black;
 border-radius: 16px;

}
#block-step {
    height: 70px;
    border-bottom: 1px solid #E0E0E0;
}

#block-step>p {
    font: 19px sans-serif;
    color: #646464;
    margin-top: 8px;
    margin-left: 15px;
    position: absolute;
}

#block-step>a {
     position: absolute;
     display: inline-block;
     color: white;
     text-decoration: none;
     padding: .5em 2em;
     outline: none;
     border-width: 2px 0;
     border-style: solid none;
     border-color: #FDBE33 #000 #D77206;
     border-radius: 6px;
     background: linear-gradient(#F3AE0F, #E38916) #E38916;
     transition: 0.2s;
     margin-bottom: 50px;
     margin-left: 60%;
}

#name-step {
    height: 30px;
}

#name-step li {
    float: left;
    list-style: none;
    margin-left: 10px;
    margin-top: 10px;
}

#name-step a {
    color: #00658B;
    font: bold 16px sans-serif;
    text-decoration: none;
}

#name-step a#active-li {
    color: #F4E409;
}

#header-list-cart {
    height: 30px;
    border-bottom: 1px solid #DBDBDB;
}

#header-list-cart>div {
    float: left;
    text-align: center;
    margin-top: 7px;
}

#head1 {
    width: 130px;
}

#head2 {
    width: 450px;
}

#head3 {
    width: 55px;
}

#head4 {
    width: 225px;
}

#block-list-cart {
    height: 125px;
    margin-top: 10px;
    border: 1px solid #DBDBDB;
    width: 960px;
}

#block-list-cart>div {
    float: left;
    margin-left: 5px;
}

.img-cart {
    width: 130px;
    height: 116px;
    padding-top: 10px;
    border-right: 1px solid #DBDBDB;
}

#title-cart {
    width: 400px;
    height: 94px;
    padding-top: 32px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #DBDBDB;
    text-align: center;
}

#count-cart {
    width: 110px;
    height: 110px;
    padding-top: 15px;
    border-right: 1px solid #DBDBDB;
}

#price-product {
    width: 140px;
    height: 125px;
    text-align: center;
    border-right: 1px solid #DBDBDB;
}

.span-count {
    margin-left: 20px;
}

#p-price {
    padding-left: 20px;
}

#delete-cart {
    height: 125px;
    padding-left: 50px;
}

#title-cart>p {
    margin-top: 15px;
}

#title-cart>p>a {
    font: 15px sans-serif;
}

#input-count-style {
    margin-top: 31px;
}

#input-count-style input {
    text-align: center;
    border: 1px solid black;
    width: 32px;
    height: 22px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#input-count-style p {
    cursor: pointer;
    font: 15px sans-serif;
    margin: 1px;
}

#price-product p {
    margin-left: 15px;
    margin-top: 65px;
}

#price-product h5 {
    position: absolute;
    margin-top: 42px;
    margin-left: 15px;
}

#delete-cart img {
    margin-top: 50px;
}

#clear-cart {
    margin-left: 400px;
}

#confirm-button-next {
  display: inline-block;
   color: white;
   text-decoration: none;
   padding: .5em 2em;
   outline: none;
   border-width: 2px 0;
   border-style: solid none;
   border-color: #FDBE33 #000 #D77206;
   border-radius: 6px;
   background: linear-gradient(#F3AE0F, #E38916) #E38916;
   transition: 0.2s;
   margin-bottom: 10px;
   margin-left: 85%;
}

#button-next {
   display: inline-block;
   color: white;
   text-decoration: none;
   padding: .5em 2em;
   outline: none;
   border-width: 2px 0;
   border-style: solid none;
   border-color: #FDBE33 #000 #D77206;
   border-radius: 6px;
   background: linear-gradient(#F3AE0F, #E38916) #E38916;
   transition: 0.2s;
   margin-bottom: 10px;
   margin-left: 85%;
}

.input-count {
    margin: 8px 10px 22px 8px;
    width: 40px;
    height: 20px;
    padding-left: 7px;
    background: #E2DCDE;
    border: 1px solid black;
}


/*#info-radio > li > input{
  	margin-top: 7px;
  	margin-right: 7px;
  }*/

#info-order {
    margin-top: 25px;
}

#info-order>li {
    margin-top: 10px;
}

#info-order>li>input {
    height: 30px;
    width: 345px;
    margin-left: 80px;
    border: 1px solid #DDDDDD;
}

#info-order>li>input:focus, #info-order>li>textarea:focus {
    border: 1px solid #C4E1EB;
}

#info-order>li>label.order_span_style {
    margin-top: 0px;
}

#info-order>li>span {
    color: #A7A7A7;
    margin-left: 15px;
    margin-top: 5px;
    position: absolute;
}

#info-order>li>span.order_span_style {
    margin-top: 7px;
}


/*Конец корзины*/

#content_center{
 width: 960px;
 margin: 0 auto;
}

/*--------Оплата и доставка-------*/
#title_oplata{
	margin: auto 206px auto 258px;
	font-size: 48px;
	color: #006494;
}

#oplata{
	margin-top: 73px;
	font-size: 35px;
	font-family: KelsonBold;
}

#payment_methods{
	margin-top: 28px;
	font-family: KelsonRegular;
}

#oplata_dostavka li:first-child{
	margin-top: 33px;
}

#oplata_dostavka li{
	font-family: KelsonRegular;
	font-size: 15px;
	margin-left: 22px;
}

#dostavka{
	margin-top: 73px;
	font-size: 35px;
	font-family: KelsonBold;
}

ol > li{
	font-size: 20px;
	font-family:  MyriadPro-Regular;
	margin-top: 40px;
}

#time_dostavka{
	margin-top: 20px;
	font-family: MyriadPro-Regular;
	font-size: 20px;
}

td{
	font-family: 'PT Sans', sans-serif;
	font-size: 17px;
}

#PointsOfIssue{
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	margin-top: 50px;
}
#maps{
position: absolute;
margin-left: 300px;
margin-top: -300px;
}
#address-block{
	display: flex;
	flex-direction: column;
	width: 210px;
	height: 50px;
	margin: 20px 0 10px 0;
	padding: 10px 2px 10px 2px;
	border-top: 1px solid black;
}


/*--------------------------------*/

/*Авторизация и регистрация*/

#login {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);
    height: 240px;
    width: 400px;
    position: absolute;
    padding: 30px;
    top: 50%;
    left: 33%;
    z-index: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, .2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 0 rgba(0, 0, 0, .1), 3px 3px 0 rgba(255, 255, 255, 1), 4px 4px 0 rgba(0, 0, 0, .1), 6px 6px 0 rgba(255, 255, 255, 1), 7px 7px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, .2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, .2);
}

#login:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}

#pass_recovery {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);
    height: 250px;
    width: 400px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 33%;
    z-index: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, .2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 0 rgba(0, 0, 0, .1), 3px 3px 0 rgba(255, 255, 255, 1), 4px 4px 0 rgba(0, 0, 0, .1), 6px 6px 0 rgba(255, 255, 255, 1), 7px 7px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, .2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, .2);
}

#pass_recovery:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}

#reg {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);
    height: 600px;
    width: 400px;
    margin-bottom: 20px;
    position: absolute;
    padding: 30px;
    top: 50%;
    left: 33%;
    z-index: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, .2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 0 rgba(0, 0, 0, .1), 3px 3px 0 rgba(255, 255, 255, 1), 4px 4px 0 rgba(0, 0, 0, .1), 6px 6px 0 rgba(255, 255, 255, 1), 7px 7px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, .2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, .2);
}

input #password::before {
    content: "#";
    display: block;
    width: 16px;
}

#reg:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}


/*--------------------*/

h1 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}


/*--------------------*/

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}


/*--------------------*/

#inputs input {
    background: #f1f1f1 url(http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png) no-repeat;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 353px;
    /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

#username {
    background-position: 5px -2px !important;
}

#password {
    background-position: 5px -52px !important;
}

#inputs input:focus {
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}


/*--------------------*/

#actions {
    margin: 25px 0 0 0;
}

#submit {
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;
    float: left;
    height: 35px;
    padding: 0;
    width: 120px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
}

#submit-reg {
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;
    float: left;
    height: 35px;
    padding: 0;
    width: 180px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
}

#submit-newpassword {
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;
    float: left;
    height: 35px;
    padding: 0;
    width: 160px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
}

#submit:hover, #submit:focus {
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
}

#submit:active {
    outline: none;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#submit::-moz-focus-inner {
    border: none;
}

#actions a {
    color: #3151A2;
    float: right;
    line-height: 35px;
    margin-left: 10px;
}

#turquoise {
    margin-right: 10px;
    margin-left: 70px;
    float: right;
    width: 100px;
    height: 20px;
    background: #1abc9c;
    border-bottom: #16a085 3px solid;
    border-left: #16a085 1px solid;
    border-right: #16a085 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    float: left;
    font-size: 15px;
    font-weight: 800;
}

#turquoisereg {
    margin-right: 10px;
    float: right;
    width: 100px;
    height: 20px;
    background: #1abc9c;
    border-bottom: #16a085 3px solid;
    border-left: #16a085 1px solid;
    border-right: #16a085 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    float: left;
    font-size: 15px;
    font-weight: 800;
}

a {
    text-decoration: none;
}

#turquoise:hover {
    opacity: 0.8;
}

#turquoisereg:hover {
    opacity: 0.8;
}

#turquoise:active {
    width: 100px;
    height: 20px;
    background: #18B495;
    border-bottom: #16a085 1px solid;
    border-left: #16a085 1px solid;
    border-right: #16a085 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 3px;
    float: left;
}

#turquoisereg:active {
    width: 100px;
    height: 20px;
    background: #18B495;
    border-bottom: #16a085 1px solid;
    border-left: #16a085 1px solid;
    border-right: #16a085 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 3px;
    float: left;
}


/*Конец авторизации и регистрации*/


/*Профиль*/

#reg_avtor {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    /*position: relative;*/
}

#avatar {
    display: flex;
    margin: -50px 0 0 -40px;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

#avatar::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    background: url("/images/User-32.png") no-repeat;
}

#profile_info {
    margin-top: 25px;
    margin-left: 20px;
}

#profile_info li {
    margin-top: 10px;
}

#profile_info input {
    height: 30px;
    width: 350px;
    font: 17px sans-serif;
    margin-left: 200px;
    padding-left: 5px;
}

#profile_info textarea {
    height: 110px;
    width: 350px;
    font: 17px sans-serif;
    margin-left: 200px;
    padding-left: 5px;
}

#profile_info label {
    font: 16px sans-serif;
    color: #464648;
    font-weight: bold;
    position: absolute;
    margin-top: 7px;
}

#profile_info h3{
 text-align: center;
}

#save_setting{
 display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
    margin-bottom: 20px;
    margin-left: 80%;
}

#main-menu {
    color: ;
    text-decoration: underline;
    cursor: pointer;
}

#main-menu ul a {
    text-decoration: none;
}

#sub-menu {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    width: 200px;
    height: 80px;
    text-align: center;
    background-color: white;
    padding-top: 5px;
    display: none;
    box-shadow: 0 0 20px rgba(244, 224, 72, 0.5);
}

#sub-menu li {
    margin: 3px 0 0 10px;
}

#sub-menu li a {
    color: black;
}

#sub-menu li a:hover {
    color: #042A2B;
}


/*ul.main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100px;
}
ul.main-menu li {
  position: relative;
}
ul.main-menu li a {
  display: block;
  border-bottom: 1px;
  padding: 5px;
  text-decoration: none;
}
li ul.sub-menu {
  display: none;
  background: white;
  position: absolute;
  left: 70%;
  top: 20%;

}
li:hover ul{
  display: block;

}*/

#data_profile{
 display: block;
 width: 960px;
 margin: 38px auto;
 background: white;
 border: 2px solid black;
 border-radius: 16px;
}

#data_profile label{
position: absolute;
font: 18px sans-serif;
font-weight: bold;
margin-left: 15px;

}

#data_profile p{
 margin-top: 5px;
 padding-top: 2px;
 margin-left: 110px;
 margin-bottom: 15px;
 vertical-align: middle;
 font: 16px sans-serif;
}



/*Конец профиля*/


/*Блок сортировки*/

#block_sorting {
    display: flex;
    flex-direction: row;
    width: 960px;
    margin: 0 auto;
}

#sort {
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 10px;
}

#sort>li {
    padding-left: 10px;
    align-items: center;
}

#select_sort {
    color: #1098F7;
    display: flex;
    flex-direction: row;
    text-decoration: inherit;
    cursor: pointer;
    font: 16px sans-serif;
}

#vid_sort {
    font: 18px sans-serif;
}

#sorting_list {
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    width: 200px;
    height: 108px;
    background-color: white;
    padding-top: 5px;
    display: none;
    box-shadow: 0 0 20px rgba(244, 224, 72, 0.5);
}

#sorting_list li {
    margin: 5px 0 0 10px;
}


/*Блок товаров в админке*/

#block-tovar {
    margin-top: 10px;
}

#block-tovar li {
    height: 200px;
    width: 230px;
    float: left;
    margin-left: 10px;
}

#block-tovar p {
    margin-top: 10px;
    text-align: center;
}

.delete {
    font: bold 13px sans-serif;
    color: #D6533C;
    cursor: pointer;
    text-decoration: underline;
}

.green {
    font: bold 13px sans-serif;
    color: green;
}

.pstrnav {
    height: 40px;
    width: auto;
    */ margin-top: 30px;
    margin-bottom: 20px;
    display: inline-block;
}

.pstrnav li {
    float: left;
    margin-top: 10px;
}

.pstrnav a {
    font: 22px sans-serif;
    text-decoration: none;
    color: black;
    display: inline-flex;
    padding-left: 4px;
    padding-right: 4px
}

.pstrnav a:hover {
    color: #E26029;
}

a.pstr-prev:hover, a.pstr-next:hover {
    text-decoration: none;
}

.pstrnav a.pstr-active {
    color: #D95D27;
    font-weight: bold;
}

#pstrnav {
    height: 40px;
    width: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    display: inline-block;
}

#pstrnav li {
    float: left;
    margin-top: 10px;
}

#pstrnav a {
    font: 22px sans-serif;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px
}

#pstrnav a:hover {
    color: #E26029;
}

a.pstr-prev:hover, a.pstr-next:hover {
    text-decoration: none;
}

#pstrnav a.pstr-active {
    color: #D95D27;
    font-weight: bold;
}

#footerfix {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    clear: both;
}


/*Конец блока товаров в админке*/


/*---------------Блок фильтрации товаров---------------*/

#filters {
   float: left;
   position: absolute;
   margin-top: 40px;
   margin-left: 5px;
}


/*----------------Кнопка фильтра---------------------------*/
#submit_filter {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
  margin-bottom: 20px;
  margin-left: 50px;
}
/*---------------------------------------------------------*/

#select_filter {
    color: black;
    display: flex;
    width: 100px;
    height: auto;
    flex-direction: row;
    cursor: pointer;
    font: 16px sans-serif;
}
/*-------------------------------------------------------*/

/*--------------Блок с ползунком цены--------------------*/
#blocktrackbar{
 width: 200px;
 height: 40px;
 margin-top: 40px;
 margin-bottom: 20px;
 clear: both;
}
/*-------------------------------------------------------*/

/*------Заголовок внутри подменю accordion-------*/
.panel h3{
 text-align:center;
 padding: 10px;
}
/*-----------------------------------------------*/


/*--------------Блок с формой ввода цен-------------------*/

/*------------Настройка блока подпунктов------------------*/
#block-input-price li{
 float: left;
 margin-left: 10px;
}
/*------------Настройка блока подпунктов------------------*/

/*------------Настройка блока формы ввода------------------*/
#block-input-price input{
 width: 40px;
 height: 20px;
 font: 14px sans-serif;
}
/*------------Настройка блока подпунктов------------------*/

/*------------Настройка блока параграфа------------------*/
#block-input-price p{
 font: 14px sans-serif;
 float: left;
 margin: 0;
 padding-top: 3px;
}
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/

/*#checkbox-brand{
 width: 250px;
 height: auto;
 position: absolute;
 background-color: white;
 padding-top: 5px;
 display: none;
 margin-left: 9%;
}*/


/*


/*Аккордион*/
button.accordion {
  display: block;
     background:#BED8D4;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 200px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

li{
  list-style-type: none;
}
.submenu li#sub__menu{
  float: left;
  width: 48%;
  display: block;
}

button.accordion.active, button.accordion:hover {
border-left: 3px solid orange;
background:#4c4c4c;
color: white;
}

.sub__menu_panel li a{
  display: block;
  width: 200px;
  margin: 0;
  height: 30px;
  text-align: center;
 padding-top: 15px;
  background: #2D3047;
  color: white;
}

.sub__menu_panel li a:hover{
  background: #E84855;
  transition: 0.5s;
}

div.panel {
  padding: 0;
  width: 200px;
    display: none;
    background-color: white;
}

/*---------------------------------*/


#error_content{
 font: 25px sans-serif;
 color: red;
 margin-left: 35%;
}

/*hr{
  display: flex;
  flex-wrap: wrap;
  width: 205px;
  margin: 0 auto;
}*/
