<div id="reg_avtor">
    <?php
  if(isset($_SESSION['logged_user'])) : ?>
        <div id="avatar">
            <a href="profile.php">
                <?php echo $_SESSION['logged_user']->login;?>
            </a>
        </div>
        <div id="logout">
            <a href="/logout.php">Выйти</a>
        </div>
        <?php else :   ?>
        <a id="turquoise" href="/login.php">Авторизация</a><br />
        <a id="turquoisereg" href="/reg.php">Регистрация</a>
        <?php endif; ?>
</div>
