*{ padding: 0; margin: 0;}
#block-pass-login{
 width: 300px;
 height: auto;
 border: 1px solid black;
 background-color: #F2F2F2;
 margin: 100px auto;
}

#pass-login li{
 margin-top: 10px;
}

#pass-login label{
 font: 15px sans-serif;
 position: absolute;
 margin-top: 4px;
 margin-left: 10px;
}

#pass-login input{
 width: 200px;
 height: 24px;
 margin-left: 75px;
 border: 1px solid #D6D6D6;
 cursor: pointer;
}

#submit_enter{
 border: 1px solid #d6d6d6;
 margin-top: 10px;
 margin-bottom: 10px;
 margin-right: 10px;
 padding: 4px 6px;
 font: bold 12px sans-serif;
}

#msgerror{
 font: 14px sans-serif;
 color: red;
 padding-left: 15px;
 padding-top: 10px;
 padding-bottom: 10px;
 background-color: #FDE5E0;
 border: 1px solid #FDCDC3;
 margin-top: 0;
}

#block-body{
 width: 950px;
 margin: 5px auto;
 background-color: white;
 border: 1px solid #E0E0E0;
}

#block-header{
 width: 950px;
 height: 80px;
 border-bottom: 1px solid #E0E0E0;
}

#block-header1{
 width: 300px;
 float: left;
}

#block-header1 h3{
 font: 20px sans-serif;
 margin-left: 15px;
 margin-top: 10px;
 margin-bottom: 5px;
}

#block-header1 p{
 margin-left: 15px;
 margin-top: 10px;
}

#block-header1 a{
 font: 15px sans-serif;
 color: black;
}

#block-header2{
 width: 300px;
 float: right;
}

#block-header2 p{
 margin-top: 10px;
 margin-right: 10px;
 font: 13px sans-serif;
}

#block-header2 a{
 font: 14px sans-serif;
 text-decoration: none;
 color: black;
}

#block-header2 a:hover{
 text-decoration: underline;
}

#block-header2 span{
 border-bottom: 1px dashed black;
}

#left-nav{
 width: 200px;
 height: auto;
 min-height: 200px;
 position: absolute;
}

#left-nav li{
 margin-left: 25px;
 padding-top: 5px;
 padding-bottom: 5px;
 border-bottom: 1px solid #EDEDED;
 list-style-type: none;
}

#left-nav a{
 text-decoration: none;
 color: black;
 font: 15px sans-serif;
}

#left-nav a:hover{
 text-decoration: underline;
}

#block-content{
 width: 747px;
 min-height: 650px;
 height:auto;
 margin-left: 201px;
 border-left: 1px solid #E0E0E0;
}

#block-parametrs{
 height: 40px;
 border-bottom: 1px solid #E0E0E0;
 background-color: #F2F2F2;
}

#title-page{
 font: 18px sans-serif;
 margin-top: 10px;
 margin-left: 10px;
 position: absolute;
}

#block-info{
 height: 40px;
 border-bottom: 1px solid #E0E0E0;
}

#count-style{
 margin-top: 12px;
 font: 14px sans-serif;
 margin-left: 10px;
 position: absolute;
}

li{
 list-style-type: none;
}

#block-tovar{
 margin-top: 10px;
}

#block-tovar li{
 height: 200px;
 width: 230px;
 float: left;
 margin-left: 10px;
}

#block-tovar p{
 margin-top: 10px;
 text-align: center;
}

.delete{
 font: bold 13px sans-serif;
 color: #D6533C;
 cursor: pointer;
 text-decoration: underline;
}

.green{
 font: bold 13px sans-serif;
 color: green;
}

.pstrnav{
 height: 40px;
 width: auto;*/
 margin-top: 30px;
 margin-bottom: 20px;
 display: inline-block;
}

.pstrnav li{
 float: left;
 margin-top: 10px;
}

.pstrnav a{
 font: 22px sans-serif;
 text-decoration: none;
 color: black;
 display: inline-flex;
 padding-left: 4px;
 padding-right: 4px
}

.pstrnav a:hover{
 color: #E26029;
}

a.pstr-prev:hover, a.pstr-next:hover{
 text-decoration: none;
}

.pstrnav a.pstr-active{
 color: #D95D27;
 font-weight: bold;
}

#footerfix{
  clear: both;
}

#add-style{
 margin-top: 12px;
 margin-left: 618px;
 position: absolute;
}

#add-style > a{
 font: 13px arial;
 color: black;
 text-decoration: none;
 border: 1px solid #FFDACA;
 background-color: #FFE7E7;
 padding: 4px 5px 4px 5px;
}

#add-style a:hover{
 border: 1px solid #FFBFA4;
}

#edit-tovar label{
 position: absolute;
 font: 15px sans-serif;
 margin-top: 5px;
 margin-left: 20px;
}

#edit-tovar{
 margin-top: 20px;
}

#edit-tovar li{
 margin-top: 10px;
}

#edit-tovar input{
 margin-left: 170px;
 width: 400px;
 height: 25px;
 border: 1px solid #D4D4D4;
 padding-left: 5px;
 font: 15px sans-serif;
}

#baseimg-upload{
 margin-top: 40px;
}

#baseimg-upload input{
 margin-left: 15px;
 margin-bottom: 50px;
}

.stylelabel{
 position: absolute;
 font: 15px sans-serif;
 margin-top: 6px;
 margin-left: 20px;
}

#submit_form{
 border: 1px solid #A8BBD4;
 background-color: #BBD0EC;
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 6px;
 padding-bottom: 6px;
 margin-right: 15px;
 font: bold 15px sans-serif;
 color: black;
 cursor: pointer;
 margin-bottom: 20px;
}

#submit_form:hover{
 border: 1px solid #779FD3;
}

#chkbox > li{
 margin-top: 5px;
 margin-left: 10px;
 font: 15px sans-serif;
}

.h3title{
 font: bold 17px sans-serif;
 margin-left: 10px;
}

#form-error{
 font: bold 14px sans-serif;
 color: red;
 background-color: #E7EDEF;
 border: 1px solid #FAC8D3;
 padding: 10px 0 10px 10px;
 margin-top: 0;
}

#form-success{
 font: bold 14px sans-serif;
 color: black;
 background-color: #E6EED9;
 border: 1px solid #D1E7BC;
 padding: 10px 0 10px 10px;
 margin-top: 0;
}

#baseimg{
 margin-top: 40px;
 height: 120px;
}

#baseimg img{
 float: left;
 margin-left: 15px;
}

#baseimg a{
 width: 16px;
 height: 16px;
 background: url("../images/Delete-16.png");
 float: left;
 cursor: pointer;
 margin-left: 5px;
}

#form_type{
 margin-left: 170px;
 width: 400px;
 height: 25px;
 border: 1px solid #D4D4D4;
 padding-left: 5px;
 font: 15px sans-serif;
}
